.tags {
  display: flex;
  flex-wrap: wrap;
  gap: rem(5);
  max-width: calc(100% - rem(120));
  &__tag {
    font-size: rem(10);
    font-weight: 400;
    background-color: $color_violet;
    color: $color_white;
    padding: rem(3);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }
}
